page-home {
	.img-card {
		height: 100px;
		background: url("../../assets/imgs/bg.jpg");
		background-size: cover;
		background-position: 50%;
	}

	ion-content ion-list ion-card, ion-item{
		background-color: rgba(255,255,255,0.05) !important;
	}
}
